@charset "utf-8";

/*
 * base
 */

/*@font-face {*/
	/*font-family: "NanumGothicWeb";*/
	/*font-style: normal;*/
	/*font-weight: normal;*/
	/*src: url(../font/NanumGothic.eot);*/
	/*src: url(../font/NanumGothic.eot?#iefix) format('embedded-opentype'),*/
	/*src: url(../font/NanumGothic.woff) format('woff'),*/
/*}*/
/*@font-face {*/
	/*font-family: "NanumGothicWebBold";*/
	/*font-style: normal;*/
	/*font-weight: norm4al;*/
	/*src: url(../font/NanumGothicExtraBold.eot);*/
	/*src: url(../font/NanumGothicExtraBold.eot?#iefix) format('embedded-opentype'),*/
	/*src: url(../font/NanumGothic-ExtraBold.woff) format('woff'),*/
/*}*/

@font-face {
	font-family: NanumGothicWeb;
	font-style: normal;
	font-weight: 400;
	src: url('../font/NanumGothic.eot');
	src: url('../font/NanumGothic.eot?#iefix') format('embedded-opentype'),
	url('https://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff2') format('woff2'),
	url('https://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff') format('woff'),
	url('https://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf') format('truetype');
}
@font-face {
	font-family: NanumGothicWebBold;
	font-style: normal;
	font-weight: 800;
	src: url('../font/NanumGothicExtraBold.eot');
	src: url('../font/NanumGothicExtraBold.eot?#iefix') format('embedded-opentype'),
	url('https://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.woff2') format('woff2'),
	url('https://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.woff') format('woff'),
	url('https://themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'NanumMyeongjo';
    font-style: normal;
    font-weight: 400;
    src: url('https://themes.googleusercontent.com/static/fonts/earlyaccess/nanummyeongjo/v2/NanumMyeongjo-Regular.eot');
    src: url('https://themes.googleusercontent.com/static/fonts/earlyaccess/nanummyeongjo/v2/NanumMyeongjo-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://themes.googleusercontent.com/static/fonts/earlyaccess/nanummyeongjo/v2/NanumMyeongjo-Regular.woff2') format('woff2'),
    url('https://themes.googleusercontent.com/static/fonts/earlyaccess/nanummyeongjo/v2/NanumMyeongjo-Regular.woff') format('woff'),
    url('https://themes.googleusercontent.com/static/fonts/earlyaccess/nanummyeongjo/v2/NanumMyeongjo-Regular.ttf') format('truetype');
}

body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: NanumGothic, '나눔고딕', NanumGothicWeb, Dotum, '돋움', sans-serif;
	line-height: 1.5;
	color: #000;
}
body.locale-en {
	font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}
form {
	margin: 0;
	padding: 0;
}
a:link, a:visited {
	color: #618de1;
	text-decoration: none;
}
a:active, a:hover {
	color: #618de1;
	text-decoration: underline;
}
img,
input.image {
	border: 0 none;
}
input, select, textarea {
	vertical-align: middle;
	font-size: 1em;
	outline: none;
	font-family: appleGothic, '돋움', Dotum, sans-serif;
}
body.locale-en input,
body.locale-en select,
body.locale-en textarea {
	font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}
select {
	color: #666;
	font-size: 12px;
}
input.text,
select.typeText,
input.typeText,
input.typeFile,
textarea {
	height: 22px;
	padding: 3px 5px 0px;
	border: 1px solid #e1e1e1;
	color: #4d4d4d;
	line-height: 18px;
}
select.typeText,
input.typeText.textOff,
input.typeText.dateTextOff {
	color: #999;
}
textarea {
	resize: none;
}
span.button,
img.button,
a.button {
	cursor: pointer;
	vertical-align: middle;
	font-family: appleGothic, '돋움', Dotum, sans-serif;
}
body.locale-en span.button,
body.locale-en img.button,
body.locale-en a.button {
	font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}
button {
	position: relative;
	cursor: pointer;
	border: 0 none;
	background: none;
	padding: 0;
	font-family: appleGothic, '돋움', Dotum, sans-serif;
}
body.locale-en button {
	font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
table {
	border-collapse: collapse;
}
em {
	font-style: normal;
	font-weight: bold;
}
.irt {
	/*display: none;*/
}

.clear {
	clear: both;
	font-size: 1px;
	line-height: 0;
	height: 0;
	overflow: hidden;
}

.searchKeywords {
    font-weight: bold !important;
    text-decoration: underline !important;;
    color: red !important;
    margin: 0 !important;
    padding: 0 !important;
}
.pages a {
	color: #4e4e4e;
}
.pages a.current {
	color: #618de1;
}

/* 백그라운드 설정*/
.bg {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -1;
}
.bg > * {
	position: absolute;
	background-repeat: no-repeat;
	z-index: -1;
}
.bg .top {
	top: -15px;
	left: 0;
	width: 100%;
	height: 20px;
	background-position: 0 0;
}
.bg .bottom {
	bottom: -15px;
	width: 100%;
	height: 20px;
	background-position: 0 100%;
}
.bg .left {
	top: 0;
	left: -15px;
	width: 20px;
	height: 100%;
	background-position: 0 0;
}
.bg .right {
	top: 0;
	right: -15px;
	width: 20px;
	height: 100%;
	background-position: 100% 0;
}